.blm-table-product {
    border-collapse: collapse;
    width:100%;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	.blm-table-product table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.blm-table-product thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.blm-table-product tr { border: 1px solid #ccc; }
	
	.blm-table-product td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	.blm-table-product td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	/Label the data
	*/
	.blm-table-product td:nth-of-type(1):before { content: "ITEM ID"; }
	.blm-table-product td:nth-of-type(2):before { content: "ITEM NAME"; }
	.blm-table-product td:nth-of-type(3):before { content: "CTG ID"; }
	.blm-table-product td:nth-of-type(4):before { content: "CTG NAME"; }
	.blm-table-product td:nth-of-type(5):before { content: "STOCK"; }
	.blm-table-product td:nth-of-type(6):before { content: "RATE"; }
	.blm-table-product td:nth-of-type(7):before { content: "PRELEVEL"; }
	.blm-table-product td:nth-of-type(8):before { content: "TAX"; }
	.blm-table-product td:nth-of-type(9):before { content: "IMAGE"; }

}

.blm-table-product th,
.blm-table-product td{
    background: #fff;
    border-bottom: 1px solid #B8B8B8;
    border-right: 1px solid #ccc;
    font-weight: normal !important;
    padding: 15px;
    vertical-align: middle;
    text-align: center;
}

.blm-table-product td:last-child,
.blm-table-product th:last-child{
    border-right:none;
}

.blm-table-product td:first-child,
.blm-table-product th:first-child{
    width: 100px;
    cursor: move;
}

.blm-table-product tr.even th,
.blm-table-product tr.even td{
    background: #f1f1f1;
}

.blm-table-product thead,
.blm-table-product tfoot{
    text-transform: uppercase;
}

.blm-table-product thead th,
.blm-table-product tfoot th {
    background: #666;
    color: white;
    border-right:1px solid #ccc;
}

.blm-table-product tr th,
.blm-table-product tr td{
    transition: .5s ease-in-out;
}
