/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

.blm-table {
    border-collapse: collapse;
    width:100%;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	.blm-table table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.blm-table thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.blm-table tr { border: 1px solid #ccc; }
	
	.blm-table td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	.blm-table td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	/Label the data
	*/
	.blm-table td:nth-of-type(1):before { content: "SLOT"; }
	.blm-table td:nth-of-type(2):before { content: "SUBJECT"; }
	.blm-table td:nth-of-type(3):before { content: "ISDONE"; }
	.blm-table td:nth-of-type(4):before { content: "REASON"; }
}

.blm-table th,
.blm-table td{
    background: #fff;
    border-bottom: 1px solid #B8B8B8;
    border-right:1px solid #ccc;
    font-weight: bold !important;
    padding: 15px;
    vertical-align: middle;
    text-align: center;
}

.blm-table-product td:last-child,
.blm-table-product th:last-child{
    border-right:none;
}

.blm-table td:first-child,
.blm-table th:first-child{
    width: 100px;
    cursor: move;
}

.blm-table tr.even th,
.blm-table tr.even td{
    background: #f1f1f1;
}

.blm-table thead,
.blm-table tfoot{
    text-transform: uppercase;
}

.blm-table thead th,
.blm-table tfoot th {
    background: #666;
    color: white;
    border-right: 1px solid #ccc;
}

.blm-table tr th,
.blm-table tr td{
    transition: .5s ease-in-out;
}

.blm-form-table {
    width:auto;
    border: 1px solid grey ;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.blm-form-table th td {
    padding: 10px;

}


.blm-button {
    -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);

}


/* 
CARDS LAYOUT.
*/



/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}



.main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}



.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}

/*Hidden class for adding and removing*/
.display-none {
  display: none !important;
}

/*Add an overlay to the entire page blocking any further presses to buttons or other elements.*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,.8);
  z-index: 999;
  opacity: 1;
  transition: all 0.5s;
}

/*Spinner Styles*/
.lds-dual-ring {
  display: inline-block;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 5% auto;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
#getDataBtn{
  background: #e2e222;
  border: 1px solid #e2e222;
  padding:  10px 20px;
}
.text-center{
  text-align: center;
}
#data-table table{
  margin: 20px auto;
}